<!DOCTYPE html>
<html lang="en" data-ng-app="myAppName">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="app/img/logo-small.png"/>
    <meta name="description" content="{{app.description}}">
   <title data-ng-bind="pageTitle()">Click Labs</title>
   <link rel="stylesheet" href="app/css/app.css">
   <link rel="stylesheet" href="app/css/custom-style.css">
</head>

<body data-ng-class="{ 'layout-fixed' : app.layout.isFixed, 'aside-collapsed' : app.layout.isCollapsed, 'layout-boxed' : app.layout.isBoxed, 'layout-fs': app.useFullLayout, 'hidden-footer': app.hiddenFooter, 'layout-h': app.layout.horizontal, 'aside-float': app.layout.isFloat}">
   <div data-ui-view="" data-autoscroll="false" class="wrapper"></div>
   <script src="app/js/base.js"></script>
   <script src="vendor/angular-google-maps/angular-google-maps.min.js"></script>
   <script src="vendor/angular-google-maps/lodash.min.js"></script>
   <script src="vendor/ui-bootstrap-tpls/ui-bootstrap-tpls-0.14.3.js"></script>
   <script src="app/js/app.js"></script>
   <script src="app/js/myApp.js"></script>
   <script src="app/js/controllers/login-ctrl.js"></script>
   <script src="app/js/controllers/register-ctrl.js"></script>
   <script src="app/js/controllers/dashboard-ctrl.js"></script>
   <script src="app/js/controllers/datatable-ctrl.js"></script>
   <script src="app/js/controllers/area-ctrl.js"></script>
   <script src="app/js/controllers/chart-ctrl.js"></script>
   <script src="app/js/controllers/map-ctrl.js"></script>
   <script src="app/js/controllers/pending-driver-ctrl.js"></script>
   <script src="app/js/controllers/dish-categories-ctrl.js"></script>
   <script src="app/js/controllers/add-kitchen-ctrl.js"></script>

</body>

</html>