<div class="block-center mt-xl wd-xl" ng-controller="LoginController">
   <!-- START panel-->
   <div class="panel panel-dark panel-flat">

         <a href="#">
            <img src="app/img/icon-logo-1.png" alt="Image" class="block-center logo-div icon-logo" />
         </a>
      <div class="panel-heading text-center">
         <p>PASSWORD RESET</p>
      </div>
      <div class="panel-body">

         <form role="form" ng-submit="recover()" validate-form="" novalidate="" class="mb-lg">
            <p class="text-center">Enter you email to receive instructions on how to reset your password.</p>
            <div class="form-group has-feedback">
               <!--<label for="resetInputEmail1" class="text-muted">Email address</label>-->
               <input id="resetInputEmail1" type="email" placeholder="Enter email" class="form-control" ng-model="account.email" required="required"/>
               <span class="fa fa-envelope form-control-feedback text-muted"></span>
            </div>
            <button type="submit" class="btn btn-danger btn-block" style="background-color: #21bfd6">Reset</button>
         </form>

          <span>
              <a ui-sref="page.login" class="btn btn-block btn-default" style="background-color: #eed346;">Back to Login</a>
          </span>

          <div ng-show="authMsg" class="alert alert-danger text-center">{{authMsg}}</div>
          <div ng-show="successMsg" class="alert alert-success text-center">{{successMsg}}</div>

      </div>
   </div>
   <!-- END panel-->
   <!--<div class="p-lg text-center">-->
      <!--<span>&copy;</span>-->
      <!--<span ng-bind="app.year"></span>-->
      <!--<span>-</span>-->
      <!--<span ng-bind="app.name"></span>-->
      <!--<br/>-->
      <!--<span ng-bind="app.description"></span>-->
   <!--</div>-->
</div>