<h3>
    Data Table
    <small>Displaying list of all the drivers in the system.</small>
</h3>
<div ng-controller="DataTableController" class="container-fluid">

    <!-- START DATATABLE 2 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table id="datatable2" class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th style="width:10%">Driver ID</th>
                            <th style="width:15%">Driver Name</th>
                            <th style="width:20%">Driver Email</th>
                            <th style="width:10%">Driver Phone</th>
                            <th style="width:10%">Total Trips</th>
                            <th style="width:10%">Total Earnings</th>
                            <th style="width:10%">Average Rating</th>
                            <th style="width:10%">Block/Unblock</th>
                            <th style="width:5%">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr style='background-color: {{data.color}} !important'
                            ng-repeat="data in list">

                            <td>{{data.user_id}}</td>
                            <td>{{data.user_name}}</td>

                            <td>{{data.user_email}}</td>
                            <td>{{data.phone_no}}</td>
                            <td>{{data.total_trips}}</td>
                            <td>{{data.total_earnings}}</td>
                            <td>{{data.average_rating}}</td>
                            <td>{{data.is_blocked}}</td>
                            <td style="text-align: center;">
                                <a class="del-btn" ng-click="deletedriver(data.user_id)"
                                   title="Delete">
                                    <i class="fa fa-trash-o icon-css"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>
                                <input type="text" name="filter_driver_id" placeholder="Driver ID"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_driver_name" placeholder="Driver Name"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_driver_email" placeholder="Driver Email"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_driver_phone" placeholder="Driver Phone"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_total_trips" placeholder="Total Trips"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_total_earnings" placeholder="Total Earnings"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_average_rating" placeholder="Average Rating"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_block" placeholder="Block/Unblock"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_delete" placeholder="Delete"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- END DATATABLE 2 -->
</div>