<h3>
    Data Table
    <small>Displaying list of all the drivers in the system.</small>
</h3>
<div ng-controller="PendingDriversController" class="container-fluid">

    <!-- START DATATABLE 2 -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table id="datatable2" class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th style="width:10%">Driver ID</th>
                            <th style="width:15%">Driver Name</th>
                            <th style="width:20%">Driver Email</th>
                            <th style="width:10%">Driver Phone</th>
                            <th style="width:10%">Approve</th>
                            <th style="width:10%">Decline</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="data in list">

                            <td>{{data.driver_id}}</td>
                            <td>{{data.user_name}}</td>

                            <td>{{data.user_email}}</td>
                            <td>{{data.phone_no}}</td>


                            <td>
                                <p><a href="" ng-click="openApproveDialog(data.driver_id)" class="btn btn-default">Approve</a>
                                </p>
                                <!--<a class="btn btn-success" title="Refund"-->
                                <!--ng-click="approvalstatus(data.user_id, 1)">-->
                                <!--Approve-->
                                <!--</a>-->
                            </td>
                            <td>
                                <i class="fa fa-close icons"></i>
                                <!--<a class="btn btn-danger disabled reallocation_btn"-->
                                <!--style="font-size: 15px; padding: 4px 20px 4px 20px;"-->
                                <!--title="Driver is rejected">-->
                                <!--Declined-->
                                <!--</a>-->
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>
                                <input type="text" name="filter_driver_id" placeholder="Driver ID"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_driver_name" placeholder="Driver Name"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_driver_email" placeholder="Driver Email"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_driver_phone" placeholder="Driver Phone"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_total_trips" placeholder="Approve"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>
                            <th>
                                <input type="text" name="filter_total_earnings" placeholder="Decline"
                                       class="form-control input-sm datatable_input_col_search"/>
                            </th>

                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- END DATATABLE 2 -->

    <script type="text/ng-template" id="firstDialogId">
        <div class="ngdialog-message">
            <h2>Approve Driver</h2>

            <form method="post" validate-form="" novalidate="" ng-submit="submit()" id="approve-driver">
                <div class="panel panel-default">

                    <div ng-show="successMsg" class="alert alert-success text-center">{{successMsg}}</div>
                    <div ng-show="errorMsg" class="alert alert-danger text-center">{{errorMsg}}</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <input type="hidden" name="driver_id" class="form-control" ng-value="approveData.driver_id"
                                   ng-model="data"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Vehicle Number</label>
                            <input type="text" name="vehicle_num" required="required" class="form-control"
                                   ng-model="approveData.vehicle_num"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">License Number</label>
                            <input type="text" name="license_num" required="required" class="form-control"
                                   ng-model="approveData.license_num"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Social Security Number</label>
                            <input type="text" name="soc_sec_num" required="required" class="form-control"
                                   ng-model="approveData.soc_sec_num"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Select Car</label>
                            <input type="text" name="select_car" required="required" class="form-control"
                                   ng-model="approveData.select_car"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Phone Number</label>
                            <input type="text" name="phn_no" required="required" class="form-control"
                                   ng-model="approveData.phn_no"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Driver Paypal ID</label>
                            <input type="text" name="paypal_id" required="required" class="form-control"
                                   ng-model="approveData.paypal_id"/>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="button" ng-click="closeThisDialog(0)" class="btn btn-default">Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </script>
</div>